* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  margin: 0;
  padding: 20px;
}

.Game {
  display: flex;
  height: calc(100vh - 40px);
  justify-content: space-between;
}

.Game .LeftSection {
  flex: .75;
}

.Game .RightSection {
  flex: .23;
  border: 2px solid #211a1d;
  padding: 20px;
  overflow-y: auto;
}

.Players {
  display: flex;
  height: calc(100vh - 130px);
}

.Player {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.PlayerType {
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #211a1d;
  color: #211a1d;
  text-align: center;
  position: relative;
  z-index: 2;
}

.Background {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: .2s;
  width: 100%;
}

.Player.normal {
  border-right: 1px solid #211a1d;
  border-left: 2px solid #211a1d;
  border-top: 2px solid #211a1d;
  background: lighten(#cffdff, 5%);
}

.Player.monster {
  border-left: 1px solid #211a1d;
  border-right: 2px solid #211a1d;
  border-top: 2px solid #211a1d;
  background: lighten(#ffb9b9, 10%);
}

@keyframes animateThis {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.Player .Background {
  animation: animateThis .5s;
}

.Player.normal .Background {
  background: #cffdff;
  left: 0;
}

.Player.monster .Background {
  background: #ffb9b9;
  right: 0;
}

.ActionsContainer {
  height: 90px;
  padding: 20px;
  border: 2px solid #211a1d;
}

.Actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Button {
  border: 0;
  height: 50px;
  margin: 0;
  min-width: 200px;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 20px;
  cursor: pointer;
  flex: 1;
  transition: .2s;
  border: 2px solid #211a1d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Button ~ .Button {
  margin-left: 20px;
}

.Button.danger {
  background: #fe6d73;
}

.Button.success {
  background: #17c3b2;
}

.Button.warning {
  background: #ffcb77;
}

.Button.primary {
  background: #fef9ef;
}

.Button:hover {
  border-color: transparent;
}

:disabled {
  cursor: not-allowed;
  opacity: .5;
}

:disabled:hover {
  border-color: #211a1d;
}

.MovesContainer {
  border: 2px solid #211a1d;
}

.MovesContainer + .MovesContainer {
  margin-top: 15px;
}

.MonsterMove {
  background: #ffb9b9;
  padding: 10px;
  text-transform: capitalize;
  font-size: 18px;
}

.PlayerMove {
  background: #cffdff;
  padding: 10px;
  text-transform: capitalize;
  font-size: 18px;
}
